@font-face {
  font-family: DoulosSILW;
  src: url(../fonts/DoulosSIL-R.woff);
}

#navBar {
  margin: auto;
  max-width: 80%;
  border-bottom: 5px solid #F1CD4E;
  border-top: 5px solid #F1CD4E;
  background: rgb(132,14,5);
  background: radial-gradient(circle, rgba(132,14,5,1) 0%, rgba(189,34,34,0.9598214285714286) 53%, rgba(200,19,6,1) 100%);
}

.link {
  color: black;
  padding: 0.25em 0;
  font: small-caps 1.5em DoulosSILW;
}

.link:hover {
  text-decoration: none;
  color: #F1CD4E;
}

.banner {
  background-color: white;
  margin: auto;
  width: 80%;
  height: 8em;
  display: flex;
  justify-content: center;
  opacity: 0.75;
}

.banner-image {
  max-height: 8em;
  object-fit: contain;
}

#banner-logo {
  height: 8em;
}

#navBar ul {
  padding: 0;
  margin: 0;
}

#navBar ul li {
  list-style-type: none;
  height: 2.5em;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navBar .dropdown {
  margin-top: 5px;
  background: #F1CD4E;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
}

.dropdown li {
  border-bottom: 2px solid black;
  padding: 0 .5em;
}

.dropdown .link {
  color: rgb(178,56,49);
}

li:last-child {
  border-bottom: none;
}

.dropdown .link:hover {
  color: black;
}

#droplink:hover > .dropdown {
  display: flex;
  flex-direction: column;
  text-align: center;
}
