@font-face {
  font-family: DoulosSILW;
  src: url(../fonts/DoulosSIL-R.woff);
}

#navBar {
  margin-top: 0;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 5px solid #F1CD4E;
  border-top: 5px solid #F1CD4E;
  background: rgb(132,14,5);
  background: radial-gradient(circle, rgba(132,14,5,1) 0%, rgba(189,34,34,0.9598214285714286) 53%, rgba(200,19,6,1) 100%);
}

.link {
  color: black;
  text-align: center;
  padding: 0.25em 0;
  /* text-decoration: none; */
  font: small-caps 1.5em DoulosSILW;
  align-self: center;
}

.link:hover {
  text-decoration: none;
  color: #F1CD4E;
}

.banner {
  background-image: url('../images/logo.jpg');
  height: 10em;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
