@font-face {
  font-family: DoulosSILW;
  src: url(./fonts/DoulosSIL-R.woff);
}

body {
  background: #d3d3d3;
}

.staticPage {
  /* text-align: center; */
  background: white;
  width: 60%;
  margin: 0 auto;
  font: small-caps 2em/1.25em DoulosSILW;
  margin-bottom: 3em;
}

h1 {
  font-weight: bold;
}

img {
  max-width: 35px;
  height: auto;
  float: left;
  margin-right: .5em;
  padding-top: .3em;
}
