@font-face {
  font-family: DoulosSILW;
  src: url(./fonts/DoulosSIL-R.woff);
}

.staticPage {
  /* text-align: center; */
  background: none;
  width: 80%;
  margin: 0 auto;
  font: small-caps 1.5em/1.25em DoulosSILW;
  margin-bottom: 3em;
  clear: left;
  overflow: auto;
}

h1 {
  font-weight: bold;
  background-color: none;
}

h3 {
  font-weight: bold;
  background: none;
}

p {
  background: none;
}
