@font-face {
  font-family: DoulosSILW;
  src: url(./fonts/DoulosSIL-R.woff);
}

#navBar {
  margin: 58.7px 0;
  display: flex;
  justify-content: flex-end;
  border-bottom: 5px solid #F1CD4E;
  border-top: 5px solid #F1CD4E;
  background: rgb(132,14,5);
  background: radial-gradient(circle, rgba(132,14,5,1) 0%, rgba(189,34,34,0.9598214285714286) 53%, rgba(200,19,6,1) 100%);
}

.link {
  color: black;
  font-size: 35px;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  font-family: DoulosSILW, sans-serif;
  align-self: center;
}

.link:after {
  color: #F1CD4E;
  content: '|';
  padding-left: 20px;
  padding-right: 20px;
}

.link:last-child::after {
  content: '';
}

.logo {
  position: absolute;
  top: 1%;
  z-index: 1;
  border-radius: 50%;
  margin-left: 1%;
  height: 200px;
  border: 5px solid #F1CD4E;
}
