@font-face {
  font-family: DoulosSILW;
  src: url(./fonts/DoulosSIL-R.woff);
}

#navBar {
  display: flex;
  justify-content: flex-end;
  background: #840E05;
  border-bottom: 5px solid #F1CD4E;
}

.link {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: DoulosSILW, sans-serif;
  /* border-right: 2px solid #F1CD4E; */
}

.link:after {
  color: #F1CD4E;
  content: '|';
  padding-left: 20px;
  padding-right: 20px;
}
