.footer {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 80%;
  background: grey;
  margin: auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: .25em 0;
  font: small-caps 1.5em DoulosSILW;
}

.footer-content a {
  color: black;
}
